body {
    font-family: 'Dancing Script', cursive;
    font-family: 'PT Serif', serif;
}

.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: 1px solid #242424
}

.number {
    color: #F2F2F2;
    letter-spacing: -0.014em;
    line-height: 38px;
    font-size: 32px;
    font-weight: 500;
}

.sticky {
    position: sticky;
    top: 100px;
    width: w-100;
    height: 250px;
    /* border: 4px solid red; */
}

.no-underline-light {
    text-decoration: none;
    color: #6B6B6B;
}


